:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.signup-form {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form > *, .signup-form mat-form-field {
  width:100%
}

label {
  display: block;
  width: 100%;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  width:100%;
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

.my-alert {
  color:red;
}

.login-link {
  color:rgb(0, 89, 255);
  cursor: pointer;

  
}
.login-link:hover {
  color:blue;
}