/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/utilities";

@import "./my-reset.scss";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


html, body { height: 100%;width:100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//allows vertical scrolling on dialog 
.cdk-global-overlay-wrapper{
  overflow: visible;
  overflow:scroll;
}

.edit-customer-panel { 
  max-width: 800px !important; 
  min-width:400px !important;
  width:75%; 
}

.edit-contact-panel { 
  max-width: 600px !important; 
  min-width:300px !important;
  width:30%; 
}

